
html,body{height:100%;}
body{margin:0;min-height:100%;color:#000;background:#5b6375;}

#header, #container, #footer{min-width:340px;max-width:940px;margin: 0 auto;overflow:hidden;}

#header{position:relative;background:#CCC;padding:24px 0;}
#header h1{color:#CE7F2F;margin:0;padding:0;padding-left:24px;}
#header p{color:#CE7F2F;margin:0;padding:0;padding-left:24px;}

#container
{
	position:relative;
	padding:48px 0;
	background:#FFF;
	min-height:100%;
}

#footer
{
	height: 20px;
	padding:24px 0;
	background:#CCC;
	text-align:center;
	color:#CE7F2F;
}

#footer a{color:#000;}

#nodeXchat
{
	border: 1px solid #CCC;
	color:#000;
	overflow:hidden;
}

.nodeXchatContainer
{
	min-width:340px;
	max-width:600px;
	margin: 0 auto;
	overflow:hidden;
}

.nodeXchatContainer a {color:#f0f9ff;text-decoration:none;}
.nodeXchatContainer a:hover {text-decoration:underline;}

.chatBackground1
{
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

.chatBackground2{background: #5b6375;}

.chatTop
{
	width:100%;
	background-color:#fff;
	overflow:hidden;
}

.chatMessages
{
	float: left;
	width:59%;
	height:300px;
	border-right: 1px solid #AAA;
	
	overflow-y:scroll;
	overflow-x:hidden;
	word-wrap:break-word;
}

.chatUsers
{
	float: right;
	width:36%;
	height:300px;
	padding-right:0.938em;
	
	overflow-y:scroll;
	text-align:right;
	word-wrap:break-word;
}

.chatUsers ul{list-style-type: none;}
.chatUsers li{border-bottom:0.1em solid #CCC;}

.chatSeparator{clear:both;}

.chatOptions
{
	border-top: 1px solid #AAA;
	border-bottom: 2px solid #FFF;
	padding: 4px;
	color:#FFF;
	overflow:hidden;
	font-size:90%;
}

.chatOptions > form{float:left;}
.chatUnAuthorizedOptions{float:right;}
.chatAuthorizedOptions
{
	float:right;
	display:none;
}

.chatInput{padding:10px;text-align:center;}

.chatSound{visibility:hidden;}
.chatFormSend{display:none;}
.chatFormChangeName{display:none;}

.chatName{font-weight:bold;}
.chatNameYou{color:#006400;}
.chatNameOther{color:#00BFFF;}
.chatNameServer{color:#A52A2A;}
.chatNameClient{color:#708090;}

.chatMessageError{text-decoration:underline;}
.chatMessageMyself{font-style:italic;}
.chatMessageNormal{color: #444;}